@import '~antd/dist/antd.css';


.App {
  display:flex;
  flex-direction: column;
  padding: 1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Summaries{
  display: flex;
  flex-direction: row;
  margin: 3%;
  /* for horizontal aligning of child divs */
  /* justify-content: center; */
  /* for vertical aligning */
  /* align-items: center; */
}

.SummaryVal {
  margin: 1%
}

.finalbutton {
  text-align: center 
}

.ratings {
  margin: 7% 10% 7% 10%;
  /* margin: 10%; */

  /* margin-left: */
}

.ratingstext {
  padding: 1%
  /* margin: 10%; */

  /* margin-left: */
}