@import '~antd/dist/antd.css';


.App {
  display:flex;
  flex-direction: column;
  padding: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.App h2 {
  /* position: absolute; */
  /* width: 201px;
  height: 65px;
  left: 120px;
  top: 125px; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
/*    font-weight: 800;*/
  font-size: 26px;
  /* line-height: 65px; */
}


.App h3 {
  /* position: absolute; */
  /* width: 201px;
  height: 65px;
  left: 120px;
  top: 125px; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
/*    font-weight: 800;*/
  font-size: 22px;
  /* line-height: 65px; */
}


.App h4 {
  /* position: absolute; */
  /* width: 201px;
  height: 65px;
  left: 120px;
  top: 125px; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
/*    font-weight: 800;*/
  font-size: 18px;
  /* line-height: 65px; */
}



.App p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Rate {
  display:flex;
  flex-direction: column;
  padding: 2%;
}

.Summaries{
  display: flex;
  flex-direction: row;
  margin: 3%;
  flex: 2 1;
  /* for horizontal aligning of child divs */
  /* justify-content: center; */
  /* for vertical aligning */
  /* align-items: center; */
}


.ColorButtons{
  margin: 1%;
  flex-direction: column;
}

.red {
  background-color: #ff0000
}

.blue {
  background-color: #ADD8E6
}

.yellow {
  background-color: #ffcc80
}
  /* for horizontal aligning of child divs */
  /* justify-content: center; */
  /* for vertical aligning */
  /* align-items: center; */
/* } */

.SummaryVal {
  margin: 1%
}

.finalbutton {
  text-align: center 
}

.ratings {
  margin: 7% 10% 7% 10%;
  /* margin: 10%; */

  /* margin-left: */
}

.ratingstext {
  padding: 1%
  /* margin: 10%; */

  /* margin-left: */
}


.section {
  text-align: left;
  border: 3px solid rgb(68, 49, 122);
  border-radius: 25px;
  color: rgba(0, 0, 0, 0.87);
  margin : 2%;
  padding : 2%;
}
.section h2 {
  /* position: absolute; */
  /* width: 201px;
  height: 65px;
  left: 120px;
  top: 125px; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
/*    font-weight: 800;*/
  font-size: 26px;
  /* line-height: 65px; */
}


.section h4 {
  /* position: absolute; */
  /* width: 201px;
  height: 65px;
  left: 120px;
  top: 125px; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
/*    font-weight: 800;*/
  font-size: 18px;
  /* line-height: 65px; */
}



.section p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.section span {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
.section ul {
/* list-style-type: none; */
/* margin: 0;
padding: 0; */
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
.title {
    /* position: absolute; */
    /* width: 201px;
    height: 65px;
    left: 120px;
    top: 125px; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    text-align: left;
    align-items: center;
    /*justify-content: space-between;*/
    /*margin: 40 40 40 40;*/

    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    /*line-height: 65px;*/
    
    color: rgba(0, 0, 0, 0.87);
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: space-between;


}
.title h2 {
    /* position: absolute; */
    /* width: 201px;
    height: 65px;
    left: 120px;
    top: 125px; */
 /*   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;*/
    /*margin: 40 40 40 40;*/
    /* line-height: 65px; */
}

.title h5 {
    /* position: absolute; */
    /* width: 201px;
    height: 65px;
    left: 120px;
    top: 125px; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    /* line-height: 65px; */
}

.info {
  text-align: center;
    padding: 5%;
  /*  max-width: 70%;*/
  /* align-items: flex-end; */
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* flex-direction:row; */
  }